// Project's font configuration

// There's 5 generic family groups ‘serif’, ‘sans-serif’, ‘cursive’, ‘fantasy’, and ‘monospace’

$fonts-base-path: '/fonts';

// Generate @font-face's content body based on a map of font family.
// e.g.: $open-sans-regular: (
//    family: 'open_sansregular',
//    file-name: 'open_sans_regular', -> WITHOUT FONT EXTENSION
//  );
@mixin font-face($font-map) {

  $family: map-get($font-map, 'family');
  $file-name: map-get($font-map, 'file-name');
  //$weight: map-get($font-map, 'weight');
  //$style: map-get($font-map, 'style');

  font-family: '#{$family}';
  src: url('../../#{$fonts-base-path}/#{$file-name}.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$light-font-map: (
    family: 'RonniaCond-Light',
    file-name: 'RonniaCond-Light',
);

$regular-font-map: (
    family: 'RonniaCond-Regular',
    file-name: 'RonniaCond-Regular',
);

$bold-font-map: (
    family: 'RonniaCond-Bold',
    file-name: 'RonniaCond-Bold',
);

$project-fonts: (
    light: $light-font-map,
    regular: $regular-font-map,
    bold: $bold-font-map,
);

@each $font-key, $font-map in $project-fonts {

  @font-face {

    @include font-face($font-map);
  }
}

@function get-font-family($font-map) {

  @return map-get($font-map, 'family');
}

$font-sizes: (
    12,
    13,
    14,
    15,
    16,
    18,
    20,
    22,
    23,
    25,
    26,
    28,
    30,
    32,
    35,
    36,
    40,
    45,
    60,
    80,
    89,
    120,
);
